html,
body {
    height: 100vh;
    box-sizing: border-box;
    /* overflow: hidden; */
    background-color: aliceblue;
}

.header .author {
    display: flex;
    justify-content: flex-end;
    padding-top: 28px;
    padding-right: 20px;
    align-items: center;
    color: #049ef4;
    font-size: large;
    font-weight: 900;
    user-select: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.2fr 1.1fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo header header"
        "layer-container map map"
        "info map map";
}

.map {
    grid-area: map;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    overflow: hidden;
    position: absolute;
}

.layer-container {
    grid-area: layer-container;
    border-bottom: 2px solid rgb(245, 237, 237);
    border-right: 2px solid rgb(245, 237, 237);
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    user-select: none;
}

.station_info {
    position: relative;
    font-size: medium;
    line-height: 30px;
    padding-left: 20px;
    font-weight: 700;
    height: 80%;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}

.search-results {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    /* border: 1px solid #e8e8e8; */
    max-height: 200px;
    /* 可根据需要调整最大高度 */
    overflow-y: auto;
}

.search-results option {
    padding: 5px 10px;
    cursor: pointer;
}

/* 隐藏原生下拉箭头 */
.search-box select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z" fill="gray"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px;
    padding-right: 20px;
}

h2 {
    width: 100%;
    font-size: 1.5em;
    margin-top: 8%;
    margin-bottom: 5%;
    /* text-indent: 0.6em; */
    color: #049ef4;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}


.toggle-button {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 28px;
    border-radius: 20px;
    background-color: #e8e8e8;
    overflow: hidden;
    cursor: pointer;
}

.toggle-button-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 28px;
    border-radius: 50%;
    background-color: #049ef4;
    transition: transform 0.3s ease-in-out;
}

.toggle-button-on {
    transform: translateX(40px);
}

.toggle-button-text {
    position: absolute;
    top: 25%;
    left: 67%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #049ef4;
}

.search-box {
    position: relative;
}

label {
    margin-right: 10px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid rgb(245, 237, 237);
    border-radius: 4px;
}

button {
    margin-top: 2vh;
    padding: 8px 16px;
    background-color: #049ef4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.info {
    position: relative;
    grid-area: info;
    border-right: 2px solid rgb(245, 237, 237);
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    user-select: none;
}

.off {
    font-weight: 500;
    text-indent: 0.6em;
    background-color: rgb(255, 255, 255);
}

.on {
    font-weight: 900;
}

.header {
    position: relative;
    z-index: 1;
    grid-area: header;
    background-color: white;
    border-bottom: 2px solid rgb(245, 237, 237);
    display: none;
}

.logo {
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    grid-area: logo;
    text-align: center;
    color: #049ef4;
    padding-top: 16px;
    font-size: 1.5em;
    font-weight: 900;
    border-bottom: 2px solid rgb(245, 237, 237);
    border-right: 2px solid rgb(245, 237, 237);
    user-select: none;
}

.control-container {
    position: absolute;
    top: 8vh;
    right: 1vw;
    height: 4vh;
    width: 4vh;
    z-index: 2;
    border-radius: 30%;
    border: 2px solid rgb(245, 237, 237);
    background-color: #fdfdfd;

}

.basemap-select {
    text-align: center;
    line-height: 1.8em;
    font-weight: 900;
    font-size: large;
}